* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none !important;
}

.cursor {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: solid 1px white;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-property: transform, background;
  transform-origin: 100% 100%;
  z-index: 2;
  backdrop-filter: sepia(100%);
  transition: 0.04s;
}

nav {
  background-color: rgb(156, 84, 224);
  top: 0;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 60px;
  font-size: 1.8rem;
  cursor: pointer;
}

nav ul {
  cursor: pointer;
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 20rem;
  font-size: 1.6rem;
}

section {
  margin-top: 20px;
  width: 100%;
  min-height: 94vh;
  background: linear-gradient(rgba(0, 0, 0, 0.198), rgba(0, 0, 0, 0)), url("../../parallax\ site/imgs/switzleft");
  background-size: cover;
}