*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pictures{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

.pictures img {
  background-position: center;
  background-size: cover;
  object-fit: cover;
  cursor: pointer;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.404);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.fullImg {
  height: 700px;
  width: 700px;
  border-radius: 20px;
}

.modal-container.open {
  opacity: 1;
  pointer-events: auto;
}